{% extends 'base.html.twig' %}

{% block body %}
        <header class="main-content-title">
          <h2>Welcome</h2>
        </header>
        <div class="main-content-box">
            <p>Hello!</p>
        </div>
{% endblock %}